.flabLeftMenu {
  max-width: rem(375px);
  width: 100%;
  height: 100%;
  position: fixed;
  left: rem(-295px);
  transition: all .4s;
  padding-right: rem(10px);
  padding-top: rem(65px);
  z-index: 999999999;
  background-image: url('../images/mainPageVideo/leftMenu_bg.png');
  background-size: cover;
  @media (max-width: 1199.98px) {
    max-width: rem(300px);
    left: rem(-220px);
    padding-right: rem(0);
  }
  @media (max-width: 767.98px){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: rem(70px);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-image: none;
    background-color: #020f1d;
    padding-top: rem(10px);
  }
  &__logo {
    max-width: rem(175px);
    width: 100%;
    left: rem(120px);
    position: fixed;
    z-index: 1;
    @media (max-width: 1199.98px)  {
      left: rem(100px);      
      max-width: rem(150px);
    }
    @media (max-width: 767.98px){
      position: absolute;
      z-index: 9;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      max-width: 100%;
      position: relative;
    }
  }
  &__search {
    position: fixed;
    top: rem(170px);
    left: rem(25px);
    cursor: pointer;
    z-index: 1;
    @media (max-width: 767.98px) {
     display: none;
   }
   i {
    color: #ffffff;
    font-size: rem(30px);
    transition: all .3s;
  }
  &:hover {
    i {
      color: #ff080c;
    }
  }
}
&__nav {
  padding-left: rem(120px);
  padding-top: rem(96px);
  @media (max-width: 1199.98px) {
    padding-left: rem(100px);
  }
  @media (max-width: 767.98px) {
   visibility: hidden;
 }
 >ul {
  margin: 0;
  padding: 0;
  visibility: hidden;
  list-style-type: none;
  padding-bottom: rem(6px);
  >li {
    visibility: hidden;
    list-style-type: none;
    padding-bottom: rem(6px);
    transform: translate(-300px);
    &:last-child {
      padding-bottom: 0;
    }
    >a {
      font-size: rem(24px);
      color: #ffffff;
      transition: all.3s ease;
      text-decoration: none;
      display: inline-block;
      @media (max-width: 1199.98px) {
        font-size: rem(19px);
      }
      &:hover {
        color: #737b7e;
      }
    }
    .active {
      color: #737b7e;
    }
    i {
      font-size: rem(27px);
      color: #ffffff;
      cursor: pointer;
      margin-right: rem(7px);
      position: absolute;
      right: rem(5px);
      top: rem(5.5px);
    }
  }
  .rotate {
    transition: all .6s;
    transform: rotate(-90deg);
  }
  .showMenu {
    visibility: visible;
    transform: translate(0);
    &:nth-child(1n) {
      transition: all .4s;
    }
    &:nth-child(2n) {
      transition: all .5s;
    }
    &:nth-child(3n) {
      transition: all .6s;
    }
    &:nth-child(4n) {
      transition: all .7s;
    }
    &:nth-child(5n) {
      transition: all .8s;
    }
    &:nth-child(6n) {
      transition: all .9s;
    }
  }
}
}

&__hiddenForm {
 padding-left: rem(20px);
 display: none;
 position: absolute;
 top: rem(164px);
 width: 100%;
 max-width: 100%;
 padding-right: rem(20px);
 p{
  color: #ccc;
  font-size: rem(13px);
  margin-bottom: 0;
  margin-top: rem(10px);
}
}

&__input {
  background-color: transparent;
  border: none;
  width: 100%;
  min-height: rem(50px);
  color: #ccc;
  font-size: rem(17px);
  outline: none;
}
::-webkit-input-placeholder { 
  color: #ccc;
  font-size: rem(33px); 
}
::-moz-placeholder          { 
  color: #ccc;
  font-size: rem(33px); 
} 
:-moz-placeholder           { 
  color: #ccc;
  font-size: rem(33px); 
}
:-ms-input-placeholder      { 
  color: #ccc;
  font-size: rem(33px); 
}

&__having {
  transition: all .6s;
  @media (max-width: 767.98px) {
    display: none;
  }
}
&__subMenu {
  margin: 0;
  padding: rem(10px) 0 rem(10px) rem(20px);
  display: none;
  @media (max-width: 1199.98px) {
    padding: rem(10px) 0 rem(10px) rem(10px);
  }
  li {
    list-style-type: none;
    margin-bottom: rem(7px);
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-size: rem(16px);
      color: #ffffff;
      transition: all.3s ease;
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: #737b7e;
        padding-left: rem(10px);
        transition: all .6s;
        .hideIcon  {
          display: block;
        }
      }
    }
  }
}
&__copy {
  position: absolute;
  left: rem(120px);
  bottom: rem(15px);
  display: none;
  @media (max-width: 1199.98px){
    left: rem(100px);
  }
  @media (max-width: 767.98px) {
    display: none;
  }
  p {
    font-size: rem(14px);
    margin: 0;
    color: #dbdbdb;
    @media (max-width: 1199.98px){
      font-size: rem(13px);
    }
  }
}
&__social {
  position: fixed;
  bottom: rem(18px);
  left: rem(34px);
  @media (max-width: 767.98px){
    display: none;
    position: relative;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      list-style-type: none;
      padding-bottom: rem(5px);
      @media (max-width: 767.98px){
        display: inline-block;
        margin-right: 20px;
      }
      &:last-child {
        padding-bottom: 0;
        @media (max-width: 767.98px){
          margin-right: 0;
        }
      }
      a {
        font-size: rem(15px);
        color: #ffffff;
        text-decoration: none;
        transition: all .3s;
        &:hover {
          color: #ff080c;
        }
      }
    }
  }
}
.socialHide-js{
  display: none;
}
}

.flabLeftMenu--open {
  left: rem(0);
  transition: all .6s;
}
